* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* common */

/* fine common */

/* main */
main {
    width: 100%;
    height: 90vh;
    background-color: black;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    padding: 50px 0;
}

.user {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

img {
    width: 100%;
    height: 15vh;
    object-fit:cover;
    padding-left: 5px;
    padding-right: 5px;
}
/* fine main */


/* footer */

/* fine footer */


/* debug */
.debug .container  {
    background-color: red;
}
/* fine debug */