* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* common */

/* fine common */

/* main */
main {
    width: 100%;
    height: 94vh;
    background-color: black;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 55px 0;
}

.user {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

img {
    width: 100%;
    height: 15vh;
    object-fit:cover;
    padding-left: 7px;
    padding-right: 7px;
}

.user p {
    position: relative;
    bottom: 25px;
    left: 20px;
}
/* fine main */


/* footer */

/* fine footer */


/* debug */
.debug .container  {
    background-color: red;
}
/* fine debug */