* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* common */
.button-1,
.button-2 {
    color: white;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 7px;
}
/* fine common */

/* main */
main {
    width: 100%;
    height: 94vh;
    background-color: black;
}

.button-1 {
    position: absolute;
    top: 12px;
    right: 50px;
    width: 125px;
    padding: 6px 4px;
}

.button-2{
    position: absolute;
    top: 12px;
    right: 15px;
    width: 30px;
    padding: 7px 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 55px 0;
}

.user {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

img {
    width: 100%;
    height: 15vh;
    object-fit:cover;
    padding-left: 7px;
    padding-right: 7px;
}

.user p {
    position: relative;
    bottom: 25px;
    left: 16px;
    color: white;
}

.left,
.right {
    color: white;
}

.left {
    position: absolute;
    top: 45%;
    left: 40px
}
.left i {
    font-size: 50px;
}

.right {
    position: absolute;
    top: 45%;
    right: 40px;
}

.right i {
    padding-left: 5px;
    font-size: 50px;
    color: rgb(7, 197, 255);
}

.bordo {
    width: 96%;
    border: 7px solid #82CD2D;
    border-style: inset;
    padding-left: 0;
    padding-right: 0;
    margin-left: 7px;  
}
/* fine main */


/* footer */

/* fine footer */


/* debug */

/* fine debug */